--
-- PostgreSQL database dump
--

\restrict RiV5bmzP4DELFeJWE3pWv2uz8wDg9FnE9TOKn6dNVwbZsszNvpN9cE7mtV3sI7R

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: api_cart; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_cart (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL,
    variant_id bigint NOT NULL,
    size_id bigint
);


ALTER TABLE public.api_cart OWNER TO postgres;

--
-- Name: api_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_cart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_cart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_category (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    img character varying(100) NOT NULL,
    short_desc text,
    long_desc text,
    slug character varying(255) NOT NULL
);


ALTER TABLE public.api_category OWNER TO postgres;

--
-- Name: api_category_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_category ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_category_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_product (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    short_desc text,
    long_desc text,
    gender character varying(50) NOT NULL,
    category_id bigint NOT NULL,
    "subCategory_id" bigint
);


ALTER TABLE public.api_product OWNER TO postgres;

--
-- Name: api_product_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_product ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_productimage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_productimage (
    id bigint NOT NULL,
    color character varying(50) NOT NULL,
    "mainImage" boolean NOT NULL,
    image character varying(100) NOT NULL,
    product_id bigint NOT NULL,
    variant_id bigint
);


ALTER TABLE public.api_productimage OWNER TO postgres;

--
-- Name: api_productimage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_productimage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_productimage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_productvariant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_productvariant (
    id bigint NOT NULL,
    color character varying(50) NOT NULL,
    price numeric(10,2) NOT NULL,
    stock integer NOT NULL,
    discount integer NOT NULL,
    product_id bigint NOT NULL
);


ALTER TABLE public.api_productvariant OWNER TO postgres;

--
-- Name: api_productvariant_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_productvariant ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_productvariant_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_productvariantsize; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_productvariantsize (
    id bigint NOT NULL,
    size character varying(50) NOT NULL,
    variant_id bigint
);


ALTER TABLE public.api_productvariantsize OWNER TO postgres;

--
-- Name: api_productvariantsize_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_productvariantsize ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_productvariantsize_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_rating; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_rating (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    stars integer NOT NULL,
    comment text,
    product_id bigint NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.api_rating OWNER TO postgres;

--
-- Name: api_rating_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_rating ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_rating_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_subcategory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_subcategory (
    id bigint NOT NULL,
    title character varying(255) NOT NULL,
    short_desc text,
    long_desc text,
    category_id bigint NOT NULL
);


ALTER TABLE public.api_subcategory OWNER TO postgres;

--
-- Name: api_subcategory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_subcategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_subcategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    email_verification_token uuid,
    email_verification_sent_at timestamp with time zone,
    newsletter_subscription boolean NOT NULL
);


ALTER TABLE public.api_user OWNER TO postgres;

--
-- Name: api_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.api_user_groups OWNER TO postgres;

--
-- Name: api_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.api_user_user_permissions OWNER TO postgres;

--
-- Name: api_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: api_wishlist; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.api_wishlist (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    size_id bigint,
    user_id bigint NOT NULL,
    variant_id bigint
);


ALTER TABLE public.api_wishlist OWNER TO postgres;

--
-- Name: api_wishlist_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.api_wishlist ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.api_wishlist_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.authtoken_token OWNER TO postgres;

--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Data for Name: api_cart; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_cart (id, quantity, created_at, updated_at, user_id, variant_id, size_id) FROM stdin;
7	3	2025-09-02 01:34:21.499658+00	2025-09-02 01:44:47.252254+00	1	6	53
2	2	2025-09-01 23:00:59.749318+00	2025-09-16 01:55:10.463543+00	1	5	42
5	1	2025-09-02 00:48:01.512721+00	2025-09-02 00:48:01.512763+00	1	4	4
6	1	2025-09-02 00:48:13.501762+00	2025-09-02 00:48:13.501782+00	1	3	14
3	3	2025-09-01 23:01:25.140626+00	2025-09-01 23:58:18.730272+00	1	5	41
\.


--
-- Data for Name: api_category; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_category (id, title, img, short_desc, long_desc, slug) FROM stdin;
3	Children's wear	categories/children-casual-wear.jpg	Make your little kings and queens look good		kids-wear
1	Men's wear	categories/mens-casual-wear.jpg	Gentlemen's style	Find what gentlement put on	men-wear
2	Women's wear	categories/womens-casual-wear.jpg	For stylish ladies only	Be the most elegant version of yourself	women-wear
\.


--
-- Data for Name: api_product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: api_productimage; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: api_productvariant; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: api_productvariantsize; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: api_rating; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: api_subcategory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_subcategory (id, title, short_desc, long_desc, category_id) FROM stdin;
1	Men's footwear	Men's Shoes		1
2	Running shoes	Reebok, Nike, Adidas, Puma, Asics, find the best brands to perform excellently		1
3	Children's footwear	Shoes for your children	different brands	3
4	Women's Shirts	elegant shirts for ladies		2
5	Men's shirts	Tshirt pour hommes		1
\.


--
-- Data for Name: api_user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: api_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: api_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: api_wishlist; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.api_wishlist (id, created_at, updated_at, size_id, user_id, variant_id) FROM stdin;
1	2025-09-01 23:15:12.735836+00	2025-09-01 23:15:12.735861+00	\N	1	10
3	2025-09-02 00:37:03.292945+00	2025-09-02 00:37:03.292968+00	\N	1	7
4	2025-09-03 01:58:35.44509+00	2025-09-03 01:58:35.445234+00	\N	1	5
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	api	category
7	api	user
8	api	product
9	api	productvariant
10	api	productimage
11	api	productvariantsize
12	api	rating
13	api	subcategory
14	api	cart
15	api	wishlist
16	authtoken	token
17	authtoken	tokenproxy
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: api_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_cart_id_seq', 7, true);


--
-- Name: api_category_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_category_id_seq', 3, true);


--
-- Name: api_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_product_id_seq', 7, true);


--
-- Name: api_productimage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_productimage_id_seq', 107, true);


--
-- Name: api_productvariant_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_productvariant_id_seq', 20, true);


--
-- Name: api_productvariantsize_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_productvariantsize_id_seq', 115, true);


--
-- Name: api_rating_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_rating_id_seq', 8, true);


--
-- Name: api_subcategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_subcategory_id_seq', 5, true);


--
-- Name: api_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_user_groups_id_seq', 1, false);


--
-- Name: api_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_user_id_seq', 3, true);


--
-- Name: api_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_user_user_permissions_id_seq', 1, false);


--
-- Name: api_wishlist_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.api_wishlist_id_seq', 4, true);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 68, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 53, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 17, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 25, true);


--
-- Name: api_cart api_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_cart
    ADD CONSTRAINT api_cart_pkey PRIMARY KEY (id);


--
-- Name: api_cart api_cart_user_id_variant_id_size_id_9a66c3b9_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_cart
    ADD CONSTRAINT api_cart_user_id_variant_id_size_id_9a66c3b9_uniq UNIQUE (user_id, variant_id, size_id);


--
-- Name: api_category api_category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_category
    ADD CONSTRAINT api_category_pkey PRIMARY KEY (id);


--
-- Name: api_category api_category_slug_b6a34ca6_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_category
    ADD CONSTRAINT api_category_slug_b6a34ca6_uniq UNIQUE (slug);


--
-- Name: api_product api_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_product
    ADD CONSTRAINT api_product_pkey PRIMARY KEY (id);


--
-- Name: api_productimage api_productimage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_productimage
    ADD CONSTRAINT api_productimage_pkey PRIMARY KEY (id);


--
-- Name: api_productvariant api_productvariant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_productvariant
    ADD CONSTRAINT api_productvariant_pkey PRIMARY KEY (id);


--
-- Name: api_productvariantsize api_productvariantsize_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_productvariantsize
    ADD CONSTRAINT api_productvariantsize_pkey PRIMARY KEY (id);


--
-- Name: api_rating api_rating_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_rating
    ADD CONSTRAINT api_rating_pkey PRIMARY KEY (id);


--
-- Name: api_subcategory api_subcategory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_subcategory
    ADD CONSTRAINT api_subcategory_pkey PRIMARY KEY (id);


--
-- Name: api_user_groups api_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_groups
    ADD CONSTRAINT api_user_groups_pkey PRIMARY KEY (id);


--
-- Name: api_user_groups api_user_groups_user_id_group_id_9c7ddfb5_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_groups
    ADD CONSTRAINT api_user_groups_user_id_group_id_9c7ddfb5_uniq UNIQUE (user_id, group_id);


--
-- Name: api_user api_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user
    ADD CONSTRAINT api_user_pkey PRIMARY KEY (id);


--
-- Name: api_user_user_permissions api_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_user_permissions
    ADD CONSTRAINT api_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: api_user_user_permissions api_user_user_permissions_user_id_permission_id_a06dd704_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_user_permissions
    ADD CONSTRAINT api_user_user_permissions_user_id_permission_id_a06dd704_uniq UNIQUE (user_id, permission_id);


--
-- Name: api_user api_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user
    ADD CONSTRAINT api_user_username_key UNIQUE (username);


--
-- Name: api_wishlist api_wishlist_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_wishlist
    ADD CONSTRAINT api_wishlist_pkey PRIMARY KEY (id);


--
-- Name: api_wishlist api_wishlist_user_id_variant_id_size_id_66436b44_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_wishlist
    ADD CONSTRAINT api_wishlist_user_id_variant_id_size_id_66436b44_uniq UNIQUE (user_id, variant_id, size_id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: api_cart_size_id_6212758e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_cart_size_id_6212758e ON public.api_cart USING btree (size_id);


--
-- Name: api_cart_user_id_79972181; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_cart_user_id_79972181 ON public.api_cart USING btree (user_id);


--
-- Name: api_cart_variant_id_956bd3ff; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_cart_variant_id_956bd3ff ON public.api_cart USING btree (variant_id);


--
-- Name: api_category_slug_b6a34ca6_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_category_slug_b6a34ca6_like ON public.api_category USING btree (slug varchar_pattern_ops);


--
-- Name: api_product_category_id_a2b9d1e7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_product_category_id_a2b9d1e7 ON public.api_product USING btree (category_id);


--
-- Name: api_product_subCategory_id_c2cab6db; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "api_product_subCategory_id_c2cab6db" ON public.api_product USING btree ("subCategory_id");


--
-- Name: api_productimage_product_id_5020b937; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_productimage_product_id_5020b937 ON public.api_productimage USING btree (product_id);


--
-- Name: api_productimage_variant_id_aaa33023; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_productimage_variant_id_aaa33023 ON public.api_productimage USING btree (variant_id);


--
-- Name: api_productvariant_product_id_bd663ca3; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_productvariant_product_id_bd663ca3 ON public.api_productvariant USING btree (product_id);


--
-- Name: api_productvariantsize_variant_id_0a49df42; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_productvariantsize_variant_id_0a49df42 ON public.api_productvariantsize USING btree (variant_id);


--
-- Name: api_rating_product_id_e1232f19; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_rating_product_id_e1232f19 ON public.api_rating USING btree (product_id);


--
-- Name: api_rating_user_id_3968cfe8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_rating_user_id_3968cfe8 ON public.api_rating USING btree (user_id);


--
-- Name: api_subcategory_category_id_eaedebf6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_subcategory_category_id_eaedebf6 ON public.api_subcategory USING btree (category_id);


--
-- Name: api_user_groups_group_id_3af85785; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_user_groups_group_id_3af85785 ON public.api_user_groups USING btree (group_id);


--
-- Name: api_user_groups_user_id_a5ff39fa; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_user_groups_user_id_a5ff39fa ON public.api_user_groups USING btree (user_id);


--
-- Name: api_user_user_permissions_permission_id_305b7fea; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_user_user_permissions_permission_id_305b7fea ON public.api_user_user_permissions USING btree (permission_id);


--
-- Name: api_user_user_permissions_user_id_f3945d65; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_user_user_permissions_user_id_f3945d65 ON public.api_user_user_permissions USING btree (user_id);


--
-- Name: api_user_username_cf4e88d2_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_user_username_cf4e88d2_like ON public.api_user USING btree (username varchar_pattern_ops);


--
-- Name: api_wishlist_size_id_5a618ccc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_wishlist_size_id_5a618ccc ON public.api_wishlist USING btree (size_id);


--
-- Name: api_wishlist_user_id_798e25cf; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_wishlist_user_id_798e25cf ON public.api_wishlist USING btree (user_id);


--
-- Name: api_wishlist_variant_id_70e770a8; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX api_wishlist_variant_id_70e770a8 ON public.api_wishlist USING btree (variant_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: api_cart api_cart_size_id_6212758e_fk_api_productvariantsize_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_cart
    ADD CONSTRAINT api_cart_size_id_6212758e_fk_api_productvariantsize_id FOREIGN KEY (size_id) REFERENCES public.api_productvariantsize(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_cart api_cart_user_id_79972181_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_cart
    ADD CONSTRAINT api_cart_user_id_79972181_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_cart api_cart_variant_id_956bd3ff_fk_api_productvariant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_cart
    ADD CONSTRAINT api_cart_variant_id_956bd3ff_fk_api_productvariant_id FOREIGN KEY (variant_id) REFERENCES public.api_productvariant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_product api_product_category_id_a2b9d1e7_fk_api_category_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_product
    ADD CONSTRAINT api_product_category_id_a2b9d1e7_fk_api_category_id FOREIGN KEY (category_id) REFERENCES public.api_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_product api_product_subCategory_id_c2cab6db_fk_api_subcategory_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_product
    ADD CONSTRAINT "api_product_subCategory_id_c2cab6db_fk_api_subcategory_id" FOREIGN KEY ("subCategory_id") REFERENCES public.api_subcategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_productimage api_productimage_product_id_5020b937_fk_api_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_productimage
    ADD CONSTRAINT api_productimage_product_id_5020b937_fk_api_product_id FOREIGN KEY (product_id) REFERENCES public.api_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_productimage api_productimage_variant_id_aaa33023_fk_api_productvariant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_productimage
    ADD CONSTRAINT api_productimage_variant_id_aaa33023_fk_api_productvariant_id FOREIGN KEY (variant_id) REFERENCES public.api_productvariant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_productvariant api_productvariant_product_id_bd663ca3_fk_api_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_productvariant
    ADD CONSTRAINT api_productvariant_product_id_bd663ca3_fk_api_product_id FOREIGN KEY (product_id) REFERENCES public.api_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_productvariantsize api_productvariantsi_variant_id_0a49df42_fk_api_produ; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_productvariantsize
    ADD CONSTRAINT api_productvariantsi_variant_id_0a49df42_fk_api_produ FOREIGN KEY (variant_id) REFERENCES public.api_productvariant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_rating api_rating_product_id_e1232f19_fk_api_product_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_rating
    ADD CONSTRAINT api_rating_product_id_e1232f19_fk_api_product_id FOREIGN KEY (product_id) REFERENCES public.api_product(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_rating api_rating_user_id_3968cfe8_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_rating
    ADD CONSTRAINT api_rating_user_id_3968cfe8_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_subcategory api_subcategory_category_id_eaedebf6_fk_api_category_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_subcategory
    ADD CONSTRAINT api_subcategory_category_id_eaedebf6_fk_api_category_id FOREIGN KEY (category_id) REFERENCES public.api_category(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_groups api_user_groups_group_id_3af85785_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_groups
    ADD CONSTRAINT api_user_groups_group_id_3af85785_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_groups api_user_groups_user_id_a5ff39fa_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_groups
    ADD CONSTRAINT api_user_groups_user_id_a5ff39fa_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_user_permissions api_user_user_permis_permission_id_305b7fea_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_user_permissions
    ADD CONSTRAINT api_user_user_permis_permission_id_305b7fea_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_user_user_permissions api_user_user_permissions_user_id_f3945d65_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_user_user_permissions
    ADD CONSTRAINT api_user_user_permissions_user_id_f3945d65_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_wishlist api_wishlist_size_id_5a618ccc_fk_api_productvariantsize_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_wishlist
    ADD CONSTRAINT api_wishlist_size_id_5a618ccc_fk_api_productvariantsize_id FOREIGN KEY (size_id) REFERENCES public.api_productvariantsize(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_wishlist api_wishlist_user_id_798e25cf_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_wishlist
    ADD CONSTRAINT api_wishlist_user_id_798e25cf_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: api_wishlist api_wishlist_variant_id_70e770a8_fk_api_productvariant_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.api_wishlist
    ADD CONSTRAINT api_wishlist_variant_id_70e770a8_fk_api_productvariant_id FOREIGN KEY (variant_id) REFERENCES public.api_productvariant(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_api_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_api_user_id FOREIGN KEY (user_id) REFERENCES public.api_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict RiV5bmzP4DELFeJWE3pWv2uz8wDg9FnE9TOKn6dNVwbZsszNvpN9cE7mtV3sI7R

